body {
    text-align: center;
}

#scoreboard {
    color: red;
    font-size: 24px;
}

.instructions {
    display:none;
    background-color: lightgreen;
    overflow: scroll;
    position: fixed;
    left: 25%;
    top: 10%;
    width: 50%;
    height: 80%;
    border: 3px solid #73AD21;
}

.gameover {
    display: none;
    background-color: lightgreen;
    position: fixed;
    left: 25%;
    top: 10%;
    width: 50%;
    height: 40%;
    border: 3px solid blue;
}


p {
    margin: 10px;
}